.pannel {
  margin: 32px;
  
  border-radius: 4px;
  border: 1px solid #999999;
}

.pannel-content {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.ln-flex-pannel {
  display: inline;
}

.header {
  background-color: #999999;
  flex-grow: 1;
}
